















/* section animation -------------------------------------------------- */
@keyframes ScrollAnn
{
  from{
    opacity: 0;
    scale: 0.5;

  }
  to
  {
    opacity: 1;
    scale: 1;
  }
}

.block
{
  animation: ScrollAnn  linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;

}
/* section animation end-------------------------------------------------- */


/* box animation left------------------------------------------------- */
@keyframes Type2
{
  from{
    opacity: 0;
    transform: translateX(110px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animationtype2
{
  animation: Type2  linear;
  animation-duration: 3s;
  transition: 5s;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;

}
/* box animation left end-------------------------------------------------- */

/* box animation right------------------------------------------------- */
@keyframes Type3
{
  from{
    opacity: 0;
    transform: translateX(-50px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animationtype3
{
  animation: Type3  linear;
  animation-duration: 1s;
  transition: 2s;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;

}
/* box animation right end-------------------------------------------------- */








/*






data-aos="fade"
data-aos="fade-up"
data-aos="fade-down"
data-aos="fade-left"
data-aos="fade-right"
data-aos="fade-up-right"
data-aos="fade-up-left"
data-aos="fade-down-right"
data-aos="fade-down-left" */
