:root
{
  --primary-color: #6366f1; /* Indigo */
  --secondary-color: #f43f5e; /* Rose */
  --bg-light: #f9fafb;
  --Lighttext-color: #000000;
  --darktext-color:white;
  --card-bg: #f3eded;
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  --radius:0px;
  --font-main: 'Poppins', sans-serif;
  --hoverbg :#555;
  --pSize:0.9rem;
  --border:2px dotted white;


}
.first-webdev-section
{
background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
height:auto;
width: 100%;
border: var(--border);
box-shadow: var(--shadow);
border-radius: var(--radius);
position: relative;
overflow: hidden;

}
.first-webdev-section video {
  width: 100%;
  height: auto;
    object-fit: cover;


}
.overlay-content {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  background-color: transparent;
  backdrop-filter: blur(5px);

}.maintext{

    margin-left: 50%;
    height: 100%;
    width: 50%;
    margin:0.01%;
    padding: 10%;
   background: linear-gradient(to right, var(--secondary-color), transparent );
backdrop-filter: blur(15px);
}
.maintext h1{
    font-size: 65px;
    font-weight: bold;
    color: white;
}.maintext h1 div
{
    background-color:var(--secondary-color);
    height:100px;
    width:100px;
    border-radius:50%;
    position: absolute;
    z-index: -1001;
    margin-left: -50px;
}
.maintext p
{
    color: white;
    font-size:1.5rem;

}.maintext button
{
  padding: 12px 12px;
  background-color:var(--primary-color);
  color: var(--card-bg);
  font-size: 1rem;
  border-radius: var(--radius);
  border:var(--border);
}.maintext button:hover
{
   background-color: var(--hoverbg);
}.Weoffersection
{
    height:auto;
    width: 100%;
    background-color: white;
    padding:0;
}.Weoffersection h2
{
    padding: 2rem;
}.Weoffersection .offer
{
height: 100px;
margin: 10px 0;
width: 100%;
padding:0.5rem 2rem;
background: linear-gradient(to right, var(--primary-color),transparent);
font-size: 20px;
color: white;
border: var(--border);
border-right: none;

}.Weoffersection .offer:hover
{
    transform: scale(1.01);
    transform: translateY(-4px);
    transition: 1s;
}.offer:nth-child(odd) {
  background: linear-gradient(to right, var(--secondary-color),transparent);
}.Weoffersection .offer p{
    font-size: 15px;
    color: rgb(31, 30, 30);
    padding: 2px;
}.techlang
{
    height:400px;
    width: 100%;
    padding:3rem 2rem;
    background: linear-gradient(to right, var(--secondary-color) , var(--primary-color));
    border-radius: var(--radius);
    border: var(--border);
}.techlang h2{
    text-align: left;
    color: white;
}.techlangbox
{
    /* background: linear-gradient(to bottom,transparent, var(--secondary-color)); */
    height: 50%;
    width: 20%;
    margin: 2.5%;
    background-color: white;
    float: left;
    border-radius: var(--radius);
    border: var(--border);
    /* padding: 10px; */
}.techlangbox:hover
{

    transform: translateY(5px);
    transition: 1s;
}
.techlangbox span {
    background-color:var(--primary-color);
    width: 100px;
    height: 40px;
    padding: 10px;
    border-radius: 14px 0px 0px 0px;
    color: rgb(0, 0, 0);
    position: absolute;
    clip-path: polygon(0% 0% , 90% 0% ,100% 50% , 90% 100% , 0% 100%);

}.techlangbox img{
    height: 50px;
    width: 50px;
    position: relative;
    margin:30px 5px;
}.webdevprocess
{

    height:500px;
    width: 100%;
    padding: auto;
    position: relative;
    border-radius: var(--radius);
}
.webdevprocess h2{
padding: 3rem 2rem;
}.webdevprocess .processbox
{
    color: white;
    height: 120px;
    width: 120px;
    margin:2px 33px;
    display: flex;
    float: left;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 13px;
    border-radius:0%;
    border: var(--border);
    border-right: 6px solid black;
    background-color: #f43f5e;
}.webdevprocess .processbox:nth-child(odd)
{
    background-color: #6366f1;
}.ourstatus
{
    height: 600px;
    width: 100%;
    background-image: url(../Images/Hero.jpg);
    background-position: center;
    background-size: cover;
    border-radius: var(--radius);
    padding: 0;
}.ourstatus .ourstatushero
{
 background: linear-gradient(to top, var(--secondary-color),transparent);
margin: 0;
height:600px;
width:100%;
border-radius: var(--radius);
border: var(--border);
}.ourstatus h2{
padding: 3rem 1rem ;

color: white;
 border-radius: var(--radius);
width: 20%;
font-size: 30px;
padding:5% 10%;
height: 50%;
}.client-slider
{
    height: 40%;
    width: 30%;
    position: absolute;
    margin:-200px 30%;
      touch-action: pan-y;
   box-shadow: 2px 2px 1000px var(--secondary-color);
      overflow: hidden;

}
 .clients-images {
      display: flex;
      transition: transform 0.8s ease-in-out;
      height: 100%;
       width: 100%;

       /* overflow: hidden; */


    } .clients-images img {
      flex-shrink: 0;
      height:100%;
      width:100%;
      /* object-fit: cover; */
    }.numbers
    {
        position: absolute;
        margin: 10% 40%;
    }



/* mobile responsive ----------------------------------------------*/
@media screen and (max-width:700px) {


.first-webdev-section
{
background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
height:500px;
width: 100%;
border: var(--border);
box-shadow: var(--shadow);
border-radius: var(--radius);
position: relative;
overflow: hidden;

}
.first-webdev-section video {
  width: 100%;
  height: 500px;



}
.overlay-content {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
display: flex;
background-color: transparent;
backdrop-filter: blur(5px);

}.maintext{

    margin-left: 50%;
    height: 100%;
    width: 100%;
    margin:0.01%;
    padding: 10%;
   background: linear-gradient(to right, var(--secondary-color), transparent ,transparent);
backdrop-filter: blur(15px);
}
.maintext h1{
    font-size:3rem;
    font-weight: bold;
    color: white;
}.maintext h1 div
{
    background-color:var(--secondary-color);
    height:100px;
    width:100px;
    border-radius:50%;
    position: absolute;
    z-index: -1001;
    margin-left: -35px;
}
.maintext p
{
    color: white;
    font-size:0.9rem;

}
.Weoffersection h2
{
    padding: 1rem;
}.Weoffersection .offer
{
height: 140px;
margin: 10px 0;
width: 100%;
padding:0.5rem 2rem;
background: linear-gradient(to right, var(--primary-color),transparent);
font-size: 18px;
color: white;
border: var(--border);
border-right: none;

}.offer:nth-child(odd) {
  background: linear-gradient(to right, var(--secondary-color),transparent);
}.Weoffersection .offer p{
    font-size: 11px;
    color: rgb(34, 33, 33);
    padding: 2px;
}
/* tech lang */
.techlang
{
    height:800px;
    width: 100%;
    padding:3rem 2rem;
    background-color: var(--primary-color);
    border-radius: var(--radius);
    border: var(--border);
}.techlang h1{
    text-align: left;
    color: white;
    font-size: 20px;
}
.techlangbox
{

    height:20%;
    width:100%;
    margin:2% 0;
    background-color: white;
   display:inline-block;
    border-radius: var(--radius);
    border: var(--border);
    /* padding: 10px; */
}.techlangbox img{
    height: 50px;
    width: 50px;
    position: relative;
    margin:30px 5px;
}.webdevprocess
{    height:600px;
    width: 100%;
    padding:0;
    position: relative;

}.webdevprocess .processbox
{
    color: white;
    height:50px;
    width: 100%;
    margin:5px 0px;
    padding: 2px 2rem;
    border-right:none;


}.client-slider
{
    height: 25%;
    width: 80%;
    position: absolute;
    margin: -100px 7%;
      touch-action: pan-y;
   box-shadow: 2px 2px 1000px var(--secondary-color);
      overflow: hidden;

}
 .clients-images {
      display: flex;
      transition: transform 0.8s ease-in-out;
      height: 100%;
       width: 100%;

       /* overflow: hidden; */


    } .clients-images img {
      flex-shrink: 0;
      height:100%;
      width:100%;
      /* object-fit: cover; */
    }.numbers
    {
        position: absolute;
        margin: 25% 20%;
        float: left;
        width: 60%;


    }
}







@media screen and (min-width:701px) and (max-width:1100px)
{

.maintext{

    margin-left: 50%;
    height: 100%;
    width: 100%;
    margin:0.01%;
    padding: 10%;
   background: linear-gradient(to right, var(--secondary-color), transparent ,transparent);
backdrop-filter: blur(15px);
}
.maintext h1{
    font-size:3rem;
    font-weight: bold;
    color: white;
}.maintext h1 div
{
    background-color:var(--secondary-color);
    height:100px;
    width:100px;
    border-radius:50%;
    position: absolute;
    z-index: -1001;
    margin-left: -35px;
}
.maintext p
{
    color: white;
    font-size:1.2rem;

}.techlangbox
{
    /* background: linear-gradient(to bottom,transparent, var(--secondary-color)); */
    height: 60%;
    width: 20%;
    margin: 2.5%;
    background-color: white;
    float: left;
    border-radius: var(--radius);
    border: var(--border);
    /* padding: 10px; */
}.techlangbox img{
    height: 40px;
    width: 40px;
    position: relative;
    margin:15px 5px;
}
.webdevprocess .processbox
{
    color: white;
    height: 110px;
    width: 110px;
    margin:2px 8px;
    display: flex;
    float: left;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 13px;
    border-radius:0%;
    border: var(--border);
    border-right: 6px solid black;
    background-color: #f43f5e;
}
.client-slider
{
    height: 35%;
    width: 60%;
    position: absolute;
    margin: -100px 20%;
      touch-action: pan-y;
   box-shadow: 2px 2px 1000px var(--secondary-color);
      overflow: hidden;

} .clients-images img {
      flex-shrink: 0;
      height:100%;
      width:100%;
      /* object-fit: cover; */
    }.numbers
    {
        position: absolute;
        margin: 25% 40%;
        float: left;
        width: 60%;


    }
}


/*
✅ Frequently Asked Questions (FAQs)
Q1. How long does it take to build a website?
A basic site can take 1-2 weeks; a full custom solution may take 3–6 weeks depending on complexity and revisions.

Q2. Can you help redesign my existing website?
Absolutely! We specialize in redesigning outdated or poorly performing sites to modern, optimized ones.

Q3. Do you offer SEO along with web development?
Yes. Every site is built with SEO in mind. We also offer add-on SEO services for deeper keyword research and ranking growth. */
